
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartPage</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <style>
        .center {
            /*
            display: flex;
            justify-content: center;
            vertical-align:central;
            height:150px;*/
              padding: 70px 0;
            text-align: center;
            width: 800px;
            vertical-align:middle;
            margin: 0 auto;
          
            /* position: absolute;
            width: 300px;
            height: 200px;
            z-index: 15;
            top: 50%;
            left: 50%;
            margin: -100px 0 0 -150px;*/
           
        }

    </style>
</head>
<body style=" background-image: url(../../Images/pngtree-school-school-background-picture-image_348548.jpg)">
    <div>
        <div class="center">
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg" type="button" onclick="location.href = '@Url.Action("Student","Admin")'">Student</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg " type="button">Class</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg" type="button">Subject</button>
            </div>
        </div>
      </div>
    
</body>
</html>

